<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    margin: 0 0 15px 0;
    float: center;
}
#section {
    width:80%;
    float:left;
    padding:10px;
    background-color: lightblue;
    float: left;
    margin: 100px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.images{
	float: right;
	width: 65px;
	margin: 25px;
}
.jumbotron{
	background-color:black;
}
.pull-right {
    float:right;
}
.stuff{
    float:center;
}
</style>