<style>
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    margin: 0 0 15px 0;
    text-align: center
}
#section {
    width:80%;
    float:left;
    padding:10px;
    background-color: lightblue;
    float: left;

	
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
.images{
	float: right;
	width: 65px;
	margin-left: 25px;
}
.jumbotron{
	background-color:black;
}
</style>
