<style>
.intro{
    max-width: 60px;
    max-height: 60px;
    
    width: 65px;
    margin: 25px;
}
body{
}
#footer {
    background-color:black;
    margin:100px;
    color:blue;
    clear:both;
    text-align:center;
    padding:20px; 
}
.images{
	float: right;
	width: 65px;
	margin: 25px;
}
#mainBody{
    border: 2px;
    border-style:ridge;

}
#blogBody{
    background-color:transparent;
    border: 2px;
    border-style:ridge;
    border-left: 10px;
    border-right:10px;
    margin-height:10px;
    margin-width:10px;
    padding:80px;
}


#blag{
    font:black;
    background-color: rbga( 50 50 50 0);
}
.nav{
    padding: 10;
    text-align: center;
    background-color: black;
}
.nav li{
    display: inline
    padding-right: 20px;

}
.col-med-6{
    float: right;
    width: 65px;
    margin: 25px;
}
.idx-img{
    width: 100%;
 background-image: linear-gradient(
     rgba(205, 181, 205, 0.5),
   rgba(205, 181, 205, 0.5)
     ), url("river.jpg");  
 background-size: cover;
 position: absolute;
 /*background-attachment: scroll;*/
 background-position: 0 100%;
 background-repeat: no-repeat;
 background-attachment: fixed;
}
#eyeLogo {

   transform-style: preserve-3d;
}

.rotate-y {
   animation: spinY 5s infinite linear;
}

@keyframes spinY {
   from { transform: rotateY(0); }
   to { transform: rotateY(360deg); }

}






</style>